<launch>
#    <!-- Nodo Direccion  -->
#    <node name="direction" pkg="direction" type="direction.py" output="screen" />

#    <!-- Nodo Velocidad  -->
#    <node name="velocity" pkg="velocity" type="velocity.py" output="screen" />

#    <!-- Nodo Control  -->
#    <node name="control" pkg="control" type="control.py" output="screen" />


    <!-- Nodo Control_SingleNode  -->
    <node name="receiver" pkg="receiver" type="receiver.py" output="screen" />

    <!-- Rosbridge -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

</launch>

